@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Sign Up";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/ProgresiveForm.css" rel="stylesheet">
</head>

<body class="bg-gradient-info">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">

                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>

                            <div class="col-lg-6">
                                <div class="progress_container">
                                    <div class="progress" id="progress"></div>
                                    <div class="circle active">1</div>
                                    <div class="circle">2</div>
                                    <div class="circle">3</div>
                                </div>

                                <div class="progressive-container">
                                        <form class="user pt-0 pb-5 px-5 " id="form1">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                                            </div>
                                            <div class="form-group floating-label-input">
                                                <input class="input-field form-control form-control-user" placeholder="" type="text" id="firstName" />
                                                <label for="firstName" class="input-label">First Name</label>
                                            </div>

                                            <div class="form-group floating-label-input">
                                                <input class="input-field form-control form-control-user" placeholder="" type="text" id="lastName" />
                                                <label class="input-label">Last Name</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="chkMantenerSesion">
                                                    <label class="custom-control-label" for="chkMantenerSesion">Mantener Sesión</label>
                                                </div>
                                            </div>

                                            <!-- @if (ViewData["Mensaje"] != null)
                                            {
                                                            <div class="form-group">
                                                                <div class="alert alert-danger" role="alert">
                                                        @ViewData["Mensaje"]
                                                                </div>
                                                            </div>
                                            }
                                             -->

                                            <a class="btn btn-primary btn-user btn-block" id="next1">Sign Up</a>
                                            <!-- <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Ingresar
                                            </button> -->
                                        </form>

                                        <form class="user pt-0 pb-5 px-5" id="form2">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Welcome 2</h1>
                                            </div>
                                            <div class="form-group floating-label-input">
                                                <input class="input-field form-control form-control-user" placeholder="" type="text" id="firstName" />
                                                <label for="firstName" class="input-label">First Name</label>
                                            </div>

                                            <div class="form-group floating-label-input">
                                                <input class="input-field form-control form-control-user" placeholder="" type="text" id="lastName" />
                                                <label class="input-label">Last Name</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="chkMantenerSesion">
                                                    <label class="custom-control-label" for="chkMantenerSesion">Mantener Sesión</label>
                                                </div>
                                            </div>

                                            <!-- @if (ViewData["Mensaje"] != null)
                                            {
                                                                <div class="form-group">
                                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewData["Mensaje"]
                                                                    </div>
                                                                </div>
                                            }
                                             -->

                                            <a class="btn btn-secondary btn-user btn-block" id="back1">Back</a>

                                            <a class="btn btn-primary btn-user btn-block" id="next2">Sign Up</a>
                                            <!-- <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Ingresar
                                            </button> -->
                                        </form>

                                    <form class="user pt-0 pb-5 px-5" id="form3">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome 3</h1>
                                        </div>
                                        <div class="form-group floating-label-input">
                                            <input class="input-field form-control form-control-user" placeholder="" type="submit" id="firstName" />
                                            <label for="firstName" class="input-label">First Name</label>
                                        </div>

                                        <div class="form-group floating-label-input">
                                            <input class="input-field form-control form-control-user" placeholder="" type="text" id="lastName" />
                                            <label class="input-label">Last Name</label>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" placeholder="Password">
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="chkMantenerSesion">
                                                <label class="custom-control-label" for="chkMantenerSesion">Mantener Sesión</label>
                                            </div>
                                        </div>

                                        <!-- @if (ViewData["Mensaje"] != null)
                                        {
                                                                <div class="form-group">
                                                                    <div class="alert alert-danger" role="alert">
                                                    @ViewData["Mensaje"]
                                                                    </div>
                                                                </div>
                                        }
                                         -->

                                        <a class="btn btn-secondary btn-user btn-block" id="back2">Back</a>

                                        <a class="btn btn-primary btn-user btn-block" id="Submit">Sign Up</a>
                                        <!-- <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Ingresar
                                        </button> -->
                                    </form>
                                        
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="forgot-password.html">¿Olvidó su contraseña?</a>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/js/ProgesiveForm.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.js"></script>
    <script src="~/vendor/loadingoverlay/loadingoverlay.min.js"></script>
</body>
</html>