.progressive-container {
    width: 85%;
    height: 450px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.progressive-container form {  
    padding: 0 1rem;
    width: 100%;
    position: absolute;
    left: 0px;
    font-family: inherit;
    transition: 0.5s ease-in;
}

#form2 {
    left: 450px;
}

#form3 {
    left: 450px;
}

.progress_container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    position: relative;
}

.progress_container::before {
    content: "";
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 1;
}

.progress {
    background-color: #4e73df;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 1;
    transition: 0.4s ease-in;
}

.circle {
    color: black;
    background-color: lightgray;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s ease;
}

.circle.active {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

/*
    CUSTOM FORM SELECT
*/

.custom-form-select {
    border-radius: 10rem;
    padding: 0 1rem;
    font-size: 0.8rem;
    height: 3.25rem;
}

.custom-form-select-option {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}